<%= form_with(model: recipe_ingredient_relationship, local: true) do |form| %>
  <% if recipe_ingredient_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_ingredient_relationship.errors.count, "error") %> prohibited this recipe_ingredient_relationship from being saved:</h2>

      <ul>
      <% recipe_ingredient_relationship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= form.label "Recipe"%>
  <%= form.collection_select(:recipe_id, Recipe.all, :id, :name, { :prompt => 'Select recipe', :selected => recipe_ingredient_relationship.recipe_id }, { class: 'form-control' }) %>
   </div>
    <div class="field">
    <%= form.label "Ingredient"%>
  <%= form.collection_select(:ingredient_id, Ingredient.all, :id, :name, { :prompt => 'Select Ingredient', :selected => recipe_ingredient_relationship.ingredient_id }, { class: 'form-control' }) %>
  </div>
    <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>
  <div class="field">
  <%= form.label "Measurement Unit"%>
  <%= form.collection_select(:measurement_unit_id, MeasurementUnit.all, :id, :singular_name, { :prompt => 'Select measurement unit', :selected => recipe_ingredient_relationship.measurement_unit_id }, { class: 'form-control' }) %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
