<h1>Editing Recipe Ingredient Relationship</h1>

<%= render 'form', recipe_ingredient_relationship: @recipe_ingredient_relationship %>

<%= link_to 'Show', @recipe_ingredient_relationship %> |
<%= link_to 'Back', recipe_ingredient_relationships_path %>
