<p id="notice"><%= notice %></p>

<h1>Recipe Ingredient Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Recipe ID</th>
      <th>Recipe</th>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>MeasurementUnit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_ingredient_relationships.each do |recipe_ingredient_relationship| %>
      <tr>
        <td><%= recipe_ingredient_relationship.recipe.id %></td>
        <td><%= recipe_ingredient_relationship.recipe.name %></td>
        <td><%= recipe_ingredient_relationship.ingredient.name %></td>
        <td><%= recipe_ingredient_relationship.quantity %></td>
        <td><%= recipe_ingredient_relationship.measurement_unit.singular_name %></td>

        <td><%= link_to 'Show', recipe_ingredient_relationship %></td>
        <td><%= link_to 'Edit', edit_recipe_ingredient_relationship_path(recipe_ingredient_relationship) %></td>
        <td><%= link_to 'Destroy', recipe_ingredient_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe Ingredient Relationship', new_recipe_ingredient_relationship_path %>
