<%= form_with(model: recipe_step, local: true) do |form| %>
  <% if recipe_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_step.errors.count, "error") %> prohibited this recipe_step from being saved:</h2>

      <ul>
      <% recipe_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= form.label "Recipe"%>
    <%= form.collection_select(:recipe_id, Recipe.all, :id, :name, { :prompt => 'Select recipe', :selected => recipe_step.recipe_id }, { class: 'form-control' }) %>
   </div>

    <div class="field">
    <%= form.label :order %>
    <%= form.text_field :order %>
  </div>
      <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
