<p id="notice"><%= notice %></p>

<h1>Recipe Steps</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Order</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_steps.each do |recipe_step| %>
      <tr>
        <td><%= recipe_step.recipe.name %></td>
        <td><%= recipe_step.order %></td>
        <td><%= recipe_step.description %></td>
        <td><%= link_to 'Show', recipe_step %></td>
        <td><%= link_to 'Edit', edit_recipe_step_path(recipe_step) %></td>
        <td><%= link_to 'Destroy', recipe_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe Step', new_recipe_step_path %>
