<h1>Editing Recipe</h1>
<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
<br/>
<br/>
<%= render 'form', recipe: @recipe %>
<br/>

<h2>Tags</h2>
<%= link_to 'Add Tag', new_recipe_tag_relationship_path %>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Recipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_tag_relationships.each do |recipe_tag_relationship| %>

      <tr>
            <td><%= recipe_tag_relationship.tag.name %></td>
      <td><%= recipe_tag_relationship.recipe.name %></td>
        <td><%= link_to 'Show', recipe_tag_relationship %></td>
        <td><%= link_to 'Edit', edit_recipe_tag_relationship_path(recipe_tag_relationship) %></td>
        <td><%= link_to 'Destroy', recipe_tag_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<br/>
<h2>Ingredients</h2>
<%= link_to 'Add Ingredient', new_recipe_ingredient_relationship_path %>
<table>
  <thead>
    <tr>
      <th>Recipe ID</th>
      <th>Recipe</th>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>MeasurementUnit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_ingredient_relationships.each do |recipe_ingredient_relationship| %>
      <tr>
        <td><%= recipe_ingredient_relationship.recipe.id %></td>
        <td><%= recipe_ingredient_relationship.recipe.name %></td>
        <td><%= recipe_ingredient_relationship.ingredient.name %></td>
        <td><%= recipe_ingredient_relationship.quantity %></td>
        <td><%= recipe_ingredient_relationship.measurement_unit.singular_name %></td>

        <td><%= link_to 'Show', recipe_ingredient_relationship %></td>
        <td><%= link_to 'Edit', edit_recipe_ingredient_relationship_path(recipe_ingredient_relationship) %></td>
        <td><%= link_to 'Destroy', recipe_ingredient_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>


<br/>
<br/>
<h2>Recipe Steps</h2>
<%= link_to 'Add another step', new_recipe_step_path %>
<table>
  <tr>
    <th>Order</th>
    <th>Description</th>
  </tr>
  <% @recipe.recipe_steps.each do |recipe_step| %>
    <%= form_with(model: recipe_step, local: true) do |form| %>
      <% if recipe_step.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(recipe_step.errors.count, "error") %> prohibited this recipe_step from being saved:</h2>

          <ul>
          <% recipe_step.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <tr>
          <td>
            <%= recipe_step.order %>
          </td>
          <td>
            <div class="field">
              <%= form.label :description %>
              <%= form.text_field :description %>
            </div>
          </td>
          <td>
            <div class="actions">
              <%= form.submit %>
            </div>
          </td>
      </tr>
    <% end %>
  <% end %>
</table>


