<%= form_with(model: measurement_unit, local: true) do |form| %>
  <% if measurement_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measurement_unit.errors.count, "error") %> prohibited this measurement_unit from being saved:</h2>

      <ul>
      <% measurement_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :singular_name %>
    <%= form.text_field :singular_name %>
  </div>

  <div class="field">
    <%= form.label :plural_name %>
    <%= form.text_field :plural_name %>
  </div>

  <div class="field">
    <%= form.label :in_grams %>
    <%= form.text_field :in_grams %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
