<p id="notice"><%= notice %></p>

<h1>Measurement Units</h1>

<table>
  <thead>
    <tr>
      <th>Singular name</th>
      <th>Plural name</th>
      <th>In grams</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurement_units.each do |measurement_unit| %>
      <tr>
        <td><%= measurement_unit.singular_name %></td>
        <td><%= measurement_unit.plural_name %></td>
        <td><%= measurement_unit.in_grams %></td>
        <td><%= link_to 'Show', measurement_unit %></td>
        <td><%= link_to 'Edit', edit_measurement_unit_path(measurement_unit) %></td>
        <td><%= link_to 'Destroy', measurement_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement Unit', new_measurement_unit_path %>
