<p id="notice"><%= notice %></p>

<p>
  <strong>Singular name:</strong>
  <%= @measurement_unit.singular_name %>
</p>

<p>
  <strong>Plural name:</strong>
  <%= @measurement_unit.plural_name %>
</p>

<p>
  <strong>In grams:</strong>
  <%= @measurement_unit.in_grams %>
</p>

<%= link_to 'Edit', edit_measurement_unit_path(@measurement_unit) %> |
<%= link_to 'Back', measurement_units_path %>
