<p id="notice"><%= notice %></p>

<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<img src=<%= @user.profile_picture_url%> style="width: 100px; height:100px"/>

<h3>Recipes authored by this user: <%= @recipes.length%></h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

