<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :measurement_unit_id %>
    <%= form.text_field :measurement_unit_id %>
  </div>

  <%= form.collection_select(:measurement_unit_id, MeasurementUnit.all, :id, :singular_name, { :prompt => 'Select default measurement unit', :selected => @ingredient.measurement_unit_id }, { class: 'form-control' }) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
