<%= form_with(model: recipe_tag_relationship, local: true) do |form| %>
  <% if recipe_tag_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_tag_relationship.errors.count, "error") %> prohibited this recipe_tag_relationship from being saved:</h2>

      <ul>
      <% recipe_tag_relationship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <div class="field">
    <%= form.label "Recipe"%>
  <%= form.collection_select(:recipe_id, Recipe.all, :id, :name, { :prompt => 'Select recipe', :selected => recipe_tag_relationship.recipe_id }, { class: 'form-control' }) %>
   </div>
    <div class="field">
    <%= form.label "Tag"%>
  <%= form.collection_select(:tag_id, Tag.all, :id, :name, { :prompt => 'Select Tag', :selected => recipe_tag_relationship.tag_id }, { class: 'form-control' }) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
