<h1>Editing Recipe Tag Relationship</h1>

<%= render 'form', recipe_tag_relationship: @recipe_tag_relationship %>

<%= link_to 'Show', @recipe_tag_relationship %> |
<%= link_to 'Back', recipe_tag_relationships_path %>
