<p id="notice"><%= notice %></p>

<h1>Recipe Tag Relationships</h1>
<%= link_to 'Tag another recipe', new_recipe_tag_relationship_path %>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Recipe</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_tag_relationships.each do |recipe_tag_relationship| %>

      <tr>
            <td><%= recipe_tag_relationship.tag.name %></td>
      <td><%= recipe_tag_relationship.recipe.name %></td>

        <td><%= link_to 'Destroy', recipe_tag_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

