<!DOCTYPE html>
<html>
  <head>
    <title>GetInMyBelly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin:0px">
      <%= javascript_pack_tag 'App' %>

  <div id="topdiv"></div>
  <div> <%= yield %></div>
   
    
    
  </body>
</html>
